<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abel">
<style>
#login-v2{
    background-image: url(assets/images/backgrounds/signup3.jpg) !important;

	}
.content {
    font-size: 18px;
    margin-top: -3%;
    font-family: 'Work Sans' !important;
	color:#FFFFFF;
}
h4.cheading {
    font-family: abel;
    font-size: 234%;
	color:#FFFFFF;
}
img.tlogo {
    margin-left: -4%;
}
.topheading {
    /* margin-right: 163%; */
    margin-top: -11%;
    margin-left: 14%;
    font-size: 280%;
	color:#FFFFFF;
}


@media screen and (min-width: 1200px) {
/*.topheading {
    
    margin-top: -10%;
    margin-left: 23%;
    font-size: 261%;
}
img.tlogo {
    margin-left: 4%;
    width: 18%;
}*/
}



</style>
<!--<img class="tlogo" src="assets/images/logos/clique.png"><h1 class="topheading">Clique</h1>
						
							<h4 class="cheading">
								Still confused choosing the right plan?
							</h4>
								<div class="content">
							<p>
								Register now and get free access to all of our premium services for 7 days.</div>
					
							<div>
							</div> 
						</div>
						

					</div>
				</div>
			</div>
		</div>
	</section>
</main>-->
	