<style>
#login-v2{
    background-image: url(assets/images/backgrounds/signup1.jpg) !important;

	}
.cimage {
    width: 65%;
    margin-left: 45%;
    margin-top: -40%;
    /* margin-right: 24%; */
}

img.logo {
    margin-top: 2%;
    margin-left: -13%;
}
.content {
    /*margin-left: -13%;
     margin-bottom: -3%; */
    margin-top: 10%;
    width: 100%;
    font-size: 189%;
	margin-left:25px;
    font-family: 'Work Sans' !important;
}
.heading {
    margin-top: -17%;
    /* margin-right: 16%; */
    margin-left: 20%;
    font-size: 253%;
    /* font-weight: 600; */
    color: white;
    font-family: 'Work Sans' !important;
}
p.cheading {
    font-size: 141%;
    font-weight: 600;
}
.logoarea {
   /* margin-top: -18%;
    margin-left: 13%;*/
}
</style>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abel">
<!--<div class="logoarea"><img class="logo" style="margin-left:5px;" src="assets/images/logos/clique.png"><h2 class="heading">Clique</h2></div>

<div class="content">
 <p class="cheading" style="color:#FFFFFF;">Dosis</p>
 <p style="color:#FFFFFF;">It started with the
 Extra useful only at  
 size 36pt or upm and the Extended Latin.</p>
 
 
<a ui-sref="app.pages_auth_register-v2" translate="LOGIN_V2.CREATE_ACCOUNT" href="/apps/account/register"><br /><button class="tryfree md-raised md-accent submit-button md-button ng-scope md-ink-ripple md-default-theme" type="submit" >Try Free Now<div class="md-ripple-container"></div></button></a>
 
</div>
	<img class="cimage" alt="Clique screenshot" src="assets/images/login/image1.png" id="Clique" />-->
						
	<a  href="" target="_blank"><img style="margin-left: 235px;
    margin-top: 210px;" src="assets/images/backgrounds/FreeDemoButton.png"></a>		